.container {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  
  /* Add grid for the content */
  .content {
    max-width: 600px; /* Adjust the width as needed */
    text-align: center;
  }
  
  /* Style the content if needed */
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 15px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  