.intro-section{
  padding: 25px;
  text-align: center;
  background-color: #028090;
  color: white;
}

.pineapple-image{
  width: 30%; 
  height: auto; /* Maintain aspect ratio */
  display: block; /* Center horizontally */
  margin: 0 auto; /* Center horizontally */
  border-radius: 50px;
}

.card-image{
  height: 3cm;
  border-radius: 50px;
  width: 50%;
  object-fit: cover;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  text-align: center;
  padding: 2px 0 2px 0;
}

.row{
 margin: 8px; 
}

.ending{
  padding-bottom: 80px;
  text-align: center;
  background-color: #f0f3bd;
}

.margin{
  margin-left: 7cm;
  margin-right: 7cm;
}