.heading{
    background-color: #05668d;
}

.logoWithText{
    display: inline-block;
}

.logo{
    height: 100px;
    vertical-align: middle;
}
h1{
    vertical-align: middle;
    padding-left: 40px;
}